body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: #111827;
    color: white;
}

body.blue {
    background-color: #1e3a8a;
    color: white;
}

body.green {
    background-color: #065f46;
    color: white;
}